APP_NAME=Sistema_Boletines_EC
APP_ENV=development
APP_DEBUG=true

SECRET_KEY=CHANGE_THIS_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

URL_PRIMER_CICLO=
URL_SEGUNDO_CICLO=

PDF_ENGINE=wkhtmltopdf
WKHTMLTOPDF_PATH=

INSTITUTION_NAME=
INSTITUTION_CODE=
INSTITUTION_LOGO=

PASSING_GRADE=70
LOW_GRADE_HIGHLIGHT_COLOR=#FFF59D